<div class="main-contianer">
   <div class="display">
      <span class="title">
         <a routerLink="/indent"><i class="bi bi-arrow-return-left booticon" ngbTooltip="Back to Master "
               placement="bottom"></i> </a>
      </span>
      <span class=" title">
         <a routerLink="/dashboard"> <i class="bi bi-house-gear booticon" ngbTooltip="Dashboard" placement="bottom"></i>
         </a>
      </span>
   </div>

   <div class="display">
      <h5 class="card-title">{{(this.routes.url).includes('finencial')?'Docket Finencial List':(this.routes.url).includes('docket-nestle-list') ? 'Docket Nestle List':'Docket List'}}
      </h5>
      <!-- {{ (this.routes.url).includes('financial') ? 'Docket Financial List' : (this.routes.url).includes('nestle') ? 'Docket Nestle List' : 'Docket List' }} -->

      <div class=" pb-2">
         <button type="button" *ngIf="!finencialListTrue"
         class="btn btn-success m-1" ngbTooltip="Create New Customer Master" placement="bottom"
            routerLink="/indent/docket-entry"><i class="bi bi-plus-lg "></i> Create </button>
         <button class="btn btn-secondary text-white" (click)="downloadExcel(MyTable)" ngbTooltip="Download List"
            placement="bottom" type="button">
            <i class="bi bi-download"></i>
         </button>
      </div>
   </div>
   <div class="table-responsive">
      <table class="table table-report table-hover " 
      datatable [dtOptions]="dtOptions"
                  [dtTrigger]="dtTrigger" #MyTable>
         <thead class="bg-secondary text-white">
            <tr>
               <th>Sr. No.</th>
               <th>LR No.</th>
               <th>LR Date</th>
               <th>Customer Name</th>
               <th>From City</th>
               <th>To City</th>
               <th>PRQ No</th>
               <th>Action</th>
            </tr>
         </thead>
         <tbody>
            <tr class="zoom-in" *ngFor="let item of indentdocLis ; index as i">
               <td>{{i+1}}</td>
               <td>{{item?.docketNo}}</td>
               <td>{{item?.docketDate | date:'dd/MM/yyyy'}}</td>
               <td>{{item?.custName}}</td>
               <td>{{item?.fromCity}}</td>
               <td>{{item?.toCity}}</td>
               <td>{{item?.prqNo}}</td>
               <td class="display2">
                  <a routerLink="javascript:volid(0)" ngbTooltip="View " placement="bottom" class="view"><i
                        class="bi bi-eye-fill pr"></i></a>
                  <a ngbTooltip="Edit " (click)="DriectLink(item)" placement="bottom" class="edit"><i
                        class="bi bi-pen-fill pr"></i></a>
               </td>
            </tr>

         </tbody>
      </table>
   </div>
</div>