<div class="main-contianer">
   <div class="display">
      <span class="title">
         <a routerLink="/master"><i class="bi bi-arrow-return-left booticon" ngbTooltip="Back to Master"
               placement="bottom"></i> </a>
      </span>
      <span class=" title">
         <a routerLink="/dashboard"> <i class="bi bi-house-gear booticon" ngbTooltip="Dashboard" placement="bottom"></i>
         </a>
      </span>
   </div>
   <div class="display">
      <h5 class="card-title">Driver Master
      </h5>
      <div class="row">
         <ul class="nav nav-tabs d-flex" role="tablist">
            <li class="nav-item flex-fill">
               <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" role="tab"
                  [class.active]="activeTab == 'general_details'" (click)="onTabClick('general_details')" type="button"
                  role="tab" aria-selected="true"><b>Initial Driver List</b></button>
            </li>
            <li class="nav-item flex-fill">
               <button class="nav-link w-100" data-bs-toggle="tab" (click)="onTabClick('branch_details')" type="button"
                  role="tab" [class.active]="activeTab == 'branch_details'" role="tab" aria-selected="false"
                  tabindex="-1"><b>Driver List</b></button>
            </li>
         </ul>
      </div>
      <div class=" pb-2">
         <button type="button" class="btn btn-success m-1" routerLink="/master/driver-master/create-driver-master"
            ngbTooltip="Create Driver Master" placement="bottom"><i class="bi bi-plus-lg "></i> Create </button>
         <button class="btn btn-secondary text-white" 
         (click)="downloadExcel()" ngbTooltip="Download List" placement="bottom" type="button">
            <i class="bi bi-download"></i>
         </button>
         <!-- (click)="downloadExcel(MyTable)"  -->
      </div>
   </div>
   <div class="table-responsive" *ngIf="activeTab == 'general_details'">
      <table class="table table-report table-hover" datatable [dtOptions]="dtOptions" #MyTable1 *ngIf="isDataLoaded">
         <thead class="bg-secondary text-white">
            <tr>
               <th>Sr. No.</th>
               <th>Manual Driver Code</th>
               <th>Driver Name
               </th>
               <th>Date Of Birth
               </th>
               <th>Contact Number
               </th>
               <th>Marital Status
               </th>
               <th>Status</th>
               <th>Action</th>
            </tr>
         </thead>
         <tbody>
            <tr class="zoom-in" *ngFor="let item of driverList; let i=index;">
               <td>{{i+1}}</td>
               <td>{{item?.manualDriverCode}}</td>
               <td>{{item?.driverName}}</td>
               <td>{{item?.driverDob | date}}</td>
               <td>{{item?.driverMobileNo}}</td>
               <td>{{item?.driverMaritalStatus}}</td>
               <td>
                  <span class="{{item.isDriverActive ?'text-success':' text-danger'}}"><i
                        class="bi bi-check2-square pr"></i>
                     {{item.isDriverActive?'Active':'Inactive'}}</span>
               </td>
               <td class="display2">
                  <a ngbTooltip="view" placement="bottom" class="view"
                     routerLink="/master/driver-master/view-driver-master/{{item?.driverId}}"
                     (click)=redirectionFinalView(1)><i
                        class="bi bi-eye-fill pr"></i></a>
                  <a *ngIf="item?.isRegistered==false ||item?.driverRegistrationFile==''"(click)="redirectionEdit1(item?.driverId)" ngbTooltip="Edit"
                     placement="bottom" class="edit"><i class="bi bi-pen-fill pr"></i></a>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="table-responsive" *ngIf="activeTab == 'branch_details'">
      <table class="table table-report table-hover" datatable [dtOptions]="dtOptions" #MyTable2 *ngIf="isDataLoadedd">
         <thead class="bg-secondary text-white">
            <tr>
               <th>Sr. No.</th>
               <th>Manual Driver Code</th>
               <th>Driver Name
               </th>
               <th>Date Of Birth
               </th>
               <th>Contact Number
               </th>
               <th>Marital Status
               </th>
               <th>Status</th>
               <th>Action</th>
            </tr>
         </thead>
         <tbody>
            <tr class="zoom-in" *ngFor="let item of driverFinalList; let i=index;">
               <td>{{i+1}}</td>
               <td>{{item?.manualDriverCode}}</td>
               <td>{{item?.driverName}}</td>
               <td>{{item?.driverDob | date}}</td>
               <td>{{item?.driverMobileNo}}</td>
               <td>{{item?.driverMaritalStatus}}</td>
               <td>
                  <span class="{{item.isDriverActive ?'text-success':' text-danger'}}"><i
                        class="bi bi-check2-square pr"></i>
                     {{item.isDriverActive?'Active':'Inactive'}}</span>
               </td>
               <td class="display2">
                  <a ngbTooltip="view" placement="bottom" class="view"
                     routerLink="/master/driver-master/view-driver-master/{{item?.driverId}}"
                     (click)=redirectionFinalView(2)><i
                        class="bi bi-eye-fill pr"></i></a>
                  <a (click)="redirectionEdit(item?.driverId)" ngbTooltip="Edit" placement="bottom" class="edit"><i
                        class="bi bi-pen-fill pr"></i></a>
                  <a ngbTooltip="Active/Inactive" placement="bottom" class="delete">
                     <div class="form-check form-switch ">
                        <input type="checkbox" class="form-check-input" *ngIf="item.isDriverActive==true"
                           (click)="activeInactive(item?.driverId)" checked title="Inactive">
                     </div>
                  </a>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>