<div class="main-contianer">
    <div class="display bg-dark-light mb-2">
        <span class="title">
            <a routerLink="/master"><i class="bi bi-arrow-return-left booticon" ngbTooltip="Back to Master"
                    placement="right"></i> </a>
        </span>
        <span class="titlemed">Mapping Average Matrix </span>
        <span class="title">
            <a routerLink="/dashboard"> <i class="bi bi-house-gear booticon" ngbTooltip="Dashboard"
                    placement="bottom"></i>
            </a>
        </span>
    </div>
    <form [formGroup]="formMaster">
        <div class="row mt-3 d-flex justify-content-center  mb-2">

            <div class="col-lg-6">
                <div class="row">
                    <label for="inputText" class="col-sm-4 col-lg-4 col-form-label"> <span class="float-end"> Group Name
                            <span class="text-danger">*</span></span> </label>
                    <div class=" col-lg-5 ">
                        <ng-select class="pb-2 " placeholder="Select Group Name " [searchable]="true" [clearable]="true"
                            formControlName="groupId" [ngClass]="{'is-invalid':submitt && fs['groupId'].errors}">
                            <ng-option value="" selected>Select</ng-option>
                            <ng-option [value]="item.groupId" *ngFor="let item of groupList">{{item.groupName
                                }}</ng-option>
                        </ng-select>

                        <div *ngIf="submitt && fs['groupId'].errors">
                            <small class="text-danger" *ngIf="fs['groupId'].errors?.['required']">please select
                                group name
                            </small>
                            <small class="text-danger" *ngIf="fs['groupId'].errors?.serverError">{{
                                fs['groupId'].errors.serverError}}</small>
                        </div>
                    </div>
                    <div class=" col-lg-3 ">
                        <button type="button" class="btn btn-warning rounded-pill btn-padding2 btn-sm"
                            (click)="OnSearch()">Next <i class="bi bi-chevron-double-right"></i>
                        </button>

                    </div>

                </div>
            </div>


        </div>
    </form>
    <div class="row">
        <div class="pb-1">
            <button type="button" class="btn btn-success m-1" style="float: right;"
                routerLink="/master/mapping-average-matrix/create-mapping-average-matrix/{{this.formMaster.controls['groupId'].value}}"><i
                    class="bi bi-plus-lg "></i> Create</button>
        </div>
    </div>

    <table class="table table-report table-hover" >
        <thead class="bg-secondary text-white">
            <tr>
                <th>Matrix ID</th>
                <th>Group Name</th>
                <th>Start KM</th>
                <th>End KM</th>
                <th>Start Weight</th>
                <th>End Weight</th>
                <th>Date Validity From</th>
                <th>Date Validity To</th>
                <th>Loaded Avg. KM/L</th>
                <th>Action</th>
            </tr>
        </thead>
      <tbody>
<tr class="zoom-in">
    <td>wda</td>
    <td>wda</td>
    <td>wda</td>
    <td>wda</td>
    <td>wda</td>
    <td>wda</td>
    <td>wda</td>
    <td>wda</td>
    <td>wda</td>
    <td class="display2">
     
        <a  class="edit" ngbTooltip="Edit" placement="bottom" ><i
              class="bi bi-pen-fill pr"></i></a>
  
     </td>
</tr>

      </tbody>
    </table>
</div>