<div class="main-contianer ">
   <div class="display bg-dark-light mb-2">
      <span class="title">
         <a routerLink="/master"><i class="bi bi-arrow-return-left booticon" ngbTooltip="Back to Master"
               placement="right"></i> </a>
      </span>
      <span class="titlemed">Route Master </span>
      <span class="title">
         <a routerLink="/dashboard"> <i class="bi bi-house-gear booticon" ngbTooltip="Dashboard" placement="bottom"></i>
         </a>
      </span>
   </div>






   
   <form [formGroup]="formMaster2">
      <div class="row mt-3 d-flex justify-content-center  mb-2">

         <div class="col-lg-10">
            <div class="row">

               <div class="col-lg-4">
                  <label for="inputText" class="col-sm-12 col-lg-12 col-form-label"> <span>From City
                        </span> </label>
                  <div class=" col-lg-12 ">
                     <ng-select placeholder="Select City Name" [searchable]="true" [clearable]="true" 
                     (change)="filterrest()"
                        formControlName="fromcity" [ngClass]="{'is-invalid':submitt && fs['fromcity'].errors}">
                        <ng-option value="" selected>Select</ng-option>
                        <ng-option [value]="item.cityName" *ngFor="let item of cityList">{{item.cityName
                           }}</ng-option>
                     </ng-select>

                     <div *ngIf="submitt && fs['fromcity'].errors">
                        <small class="text-danger" *ngIf="fs['fromcity'].errors?.['required']">please select
                          from city 
                        </small>
                        <small class="text-danger" *ngIf="fs['fromcity'].errors?.serverError">{{
                           fs['fromcity'].errors.serverError}}</small>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <label for="inputText" class="col-sm-12 col-lg-12 col-form-label"> <span>To City
                        </span> </label>
                  <div class=" col-lg-12 ">
                     <ng-select placeholder="Select City Name" [searchable]="true" [clearable]="true"
                     (change)="filterrest()"
                        formControlName="tocity" [ngClass]="{'is-invalid':submitt && fs['tocity'].errors}">
                        <ng-option value="" selected>Select</ng-option>
                        <ng-option [value]="item.cityName" *ngFor="let item of cityList">{{item.cityName
                           }}</ng-option>
                     </ng-select>

                     <div *ngIf="submitt && fs['tocity'].errors">
                        <small class="text-danger" *ngIf="fs['tocity'].errors?.['required']">please select
                          to city 
                        </small>
                        <small class="text-danger" *ngIf="fs['tocity'].errors?.serverError">{{
                           fs['tocity'].errors.serverError}}</small>
                     </div>
                  </div>
               </div>
               <div class=" col-lg-4 pt-2 mt-3 ">
                  <button type="button" (click)="FilterSearch()"
                     class="btn btn-warning rounded-pill btn-padding btn-sm mr-5"><i class="bi bi-search"></i> Search
                  </button>
                  <button type="button" class="btn btn-primary rounded-pill btn-padding2 btn-sm"
                  (click)="resetFilter()"><i
                        class="bi bi-arrow-clockwise"></i> Reset Filter
                  </button>
               </div>
          
            </div>
         </div>


      </div>
   </form>

   <div class="display3 ">

      <div class="pb-2 float-end">
         <!-- (click)="modelopen(modalmsg)" -->
         <button type="button" class="btn btn-success m-1" routerLink="/master/route-master-list/create-route-master"
            ngbTooltip="Create New Route Master" placement="bottom"><i class="bi bi-plus-lg "></i> Create </button>
         <button class="btn btn-secondary text-white" ngbTooltip="Download List" placement="bottom"
            (click)="downloadExcel()" title="Download File" type="button"><i class="bi bi-download"></i>
         </button>
      </div>
      <!-- popup confirm-->
      <ng-template #modalmsg let-modal>
         <div class="modal-header qut-hd">
            <h6 class="modal-title" id="exampleModalCenterTitle">Update Route Master</h6>
            <button type="button" class="clos-btn bg-light-blue" (click)="modal.dismiss('Cross click')"
               aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            <button type="button" rippleeffect="" class="btn btn-icon" (click)="modal.dismiss('Cross click')"><i
                  aria-hidden="true" class="fa fa-times"></i></button>
         </div>
         <div class="modal-body" tabindex="0" ngbAutofocus>
            <form [formGroup]="formMaster">
               <div class="row">
                  <div class="col-lg-3 ">
                     <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Route Code <span
                           class="text-danger">*</span></label>
                     <div class=" col-sm-12 col-lg-12 " style="display: none;">
                        <input type="text" class="form-control " formControlName="routeId" readonly>
                     </div>
                     <div class=" col-sm-12 col-lg-12 ">
                        <input type="text" class="form-control " formControlName="rutcd" readonly>
                     </div>
                  </div>
                  <div class="col-lg-3 ">
                     <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">From city <span class="text-danger">*</span></label>
                     <div class=" col-sm-12 col-lg-12 ">
                        <ng-select placeholder="City Select" formControlName="fromCityId" [searchable]="true" [readonly]="true"
                           [clearable]="true" [ngClass]="{'is-invalid':submitted && f['fromCityId'].errors}">
                           <ng-option value="" selected>Select</ng-option>
                           <ng-option [disabled]='!item.isActive' [value]="item.cityId"
                              *ngFor="let item of cityList">{{item.cityName}}</ng-option>
                        </ng-select>
                        <div *ngIf="submitted && f['fromCityId'].errors">
                           <small class="text-danger" *ngIf="f['fromCityId'].errors?.['required']">Please select city
                           </small>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 ">
                     <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">To city<span class="text-danger">*</span></label>
                     <div class=" col-sm-12 col-lg-12 ">
                        <ng-select placeholder="City Select" formControlName="toCityId" [searchable]="true" [readonly]="true"
                           [clearable]="true" [ngClass]="{'is-invalid':submitted && f['toCityId'].errors}">
                           <ng-option value="" selected>Select</ng-option>
                           <ng-option [disabled]='!item.isActive' [value]="item.cityId"
                              *ngFor="let item of cityList">{{item.cityName}}</ng-option>
                        </ng-select>
                        <div *ngIf="submitted && f['toCityId'].errors">
                           <small class="text-danger" *ngIf="f['toCityId'].errors?.['required']">Please select city
                           </small>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3">
                     <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Route Category <span
                           class="text-danger">*</span></label>
                     <div class=" col-sm-12 col-lg-12 ">
                        <ng-select placeholder="Route Select" formControlName="routeCategoryId" [searchable]="true"
                           (change)="routeChanges($event)" [clearable]="true"
                           [ngClass]="{'is-invalid':submitted && f['routeCategoryId'].errors}">
                           <ng-option value="" selected>Select</ng-option>
                           <ng-option [disabled]='!item.isActive' [value]="item.generalId"
                              *ngFor="let item of routeCategoryList">{{item.codeDesc}}</ng-option>
                        </ng-select>
                        <div *ngIf="submitted && f['routeCategoryId'].errors">
                           <small class="text-danger" *ngIf="f['routeCategoryId'].errors?.['required']">Please
                              select
                              route name
                           </small>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3">
                     <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Remarks </label>
                     <div class=" col-sm-12 col-lg-12 ">
                        <input class="form-control" [readOnly]="true" [value]="selectedRemakr" name="" id=""
                            formControlName="routeCategoryRemarks">
                     </div>
                  </div>
                <!-- <div class="col-lg-3">
                     <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Route Category <span
                           class="text-danger">*</span></label>
                     <div class=" col-sm-12 col-lg-12 ">
                        <ng-select placeholder="Route Select" formControlName="routeCategoryId" [searchable]="true"
                           (change)="routeChanges($event)" [clearable]="true"
                           [ngClass]="{'is-invalid':submitted && f['routeCategoryId'].errors}">
                           <ng-option value="" selected>Select</ng-option>
                           <ng-option [disabled]='!item.isActive' [value]="item.generalId"
                              *ngFor="let item of routeTypeCategoryList">{{item.codeDesc}}</ng-option>
                        </ng-select>
                        <div *ngIf="submitted && f['routeCategoryId'].errors">
                           <small class="text-danger" *ngIf="f['routeCategoryId'].errors?.['required']">Please select
                              route name
                           </small>
                        </div>
                     </div>
                  </div>  -->
                  <div class="col-lg-3">
                     <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Contrl Branch Id <span
                           class="text-danger">*</span></label>
                     <div class=" col-sm-12 col-lg-12 ">
                        <ng-select placeholder="Route Select" formControlName="contrlBranchId" [searchable]="true"
                           [clearable]="true" [ngClass]="{'is-invalid':submitted && f['contrlBranchId'].errors}">
                           <ng-option value="" selected>Select</ng-option>
                           <ng-option [disabled]='!item.isActive' [value]="item.branchId"
                              *ngFor="let item of branchMasterList">{{item.branchName}}</ng-option>
                        </ng-select>
                        <div *ngIf="submitted && f['contrlBranchId'].errors">
                           <small class="text-danger" *ngIf="f['contrlBranchId'].errors?.['required']">please select
                              control Branch
                           </small>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3">
                     <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Route Start Date <span
                           class="text-danger">*</span></label>
                     <div class=" col-sm-12 col-lg-12 ">
                        <input type="date" class="form-control" formControlName="routeStartDate"
                           [ngClass]="{'is-invalid':submitted && f['routeStartDate'].errors}">
                        <div *ngIf="submitted && f['routeStartDate'].errors">
                           <small class="text-danger" *ngIf="f['routeStartDate'].errors?.['required']">Please enter
                              route start date
                           </small>
                           <small class="text-danger" *ngIf="f['routeStartDate'].errors?.serverError">{{
                              f['routeStartDate'].errors.serverError}}</small>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3">
                     <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Distance (In KM) <span
                           class="text-danger">*</span></label>
                     <div class=" col-sm-12 col-lg-12 ">
                        <input type="text" class="form-control" formControlName="routeKm" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                           [ngClass]="{'is-invalid':submitted && f['routeKm'].errors}" min="0"
                           (change)="setupValidation($event)">
                        <div *ngIf="submitted && f['routeKm'].errors">
                           <small class="text-danger" *ngIf="f['routeKm'].errors?.['required']">Please enter distance
                           </small>
                           <small class="text-danger" *ngIf="f['routeKm'].errors?.serverError">{{
                              f['routeKm'].errors.serverError}}</small>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3">
                     <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Transit Hour <span
                           class="text-danger">*</span></label>
                     <div class=" col-sm-12 col-lg-12 ">
                        <input type="number" class="form-control" formControlName="transitHour" min="0" max="500"
                           placeholder="transit hour" [ngClass]="{'is-invalid':submitted && f['transitHour'].errors}">
                        <div *ngIf="submitted && f['transitHour'].errors">
                           <small class="text-danger" *ngIf="f['transitHour'].errors?.['required']">Please enter
                              transit hour
                           </small>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3">
                     <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Express Hours <span
                           class="text-danger">*</span></label>
                     <div class=" col-sm-12 col-lg-12 ">
                        <input type="text" class="form-control" formControlName="expressHour" min="0" max="500"  onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 58"
                           [ngClass]="{'is-invalid':submitted && f['expressHour'].errors}"
                            onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        <div *ngIf="submitted && f['expressHour'].errors">
                           <small class="text-danger" *ngIf="f['expressHour'].errors?.['required']">please express
                              hours
                           </small>
                        </div>
                     </div>
                  </div>
        
                  <div class="col-lg-3">
                     <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Supper Express Hour <span
                           class="text-danger">*</span></label>
                     <div class=" col-sm-12 col-lg-12 ">
                        <input type="text" class="form-control" formControlName="supperExpressHour" min="0" max="500" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 58"
                           [ngClass]="{'is-invalid':submitted && f['supperExpressHour'].errors}">
                        <div *ngIf="submitted && f['supperExpressHour'].errors">
                           <small class="text-danger" *ngIf="f['supperExpressHour'].errors?.['required']">please
                              supper express hour
                           </small>
                        </div>
                     </div>
                  </div>
                  <!-- <div class="col-lg-3">
                     <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Suggestion </label>
                     <div class=" col-sm-12 col-lg-12 ">
                        <input type="text" class="form-control" formControlName="suggestion" maxlength="10"
                           [ngClass]="{'is-invalid':submitted && f['suggestion'].errors}">
                        <div *ngIf="submitted && f['suggestion'].errors">
                           <small class="text-danger" *ngIf="f['suggestion'].errors?.['required']">Please enter To
                              Support
                           </small>
                        </div>
                     </div>
                  </div> -->
           
                  <div class="col-lg-3">
                     <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">is Two Point Diesel Allow
                     </label>
                     <div class=" col-sm-12 col-lg-12 ">
                        <div class="form-check">
                           <input class="form-check-input checklistcls" type="checkbox"
                              formControlName="isTwoPointDieselAllow">
                        </div>
                        <!-- <div *ngIf="submitted && f['isEmptyAllow'].errors">
                              <small class="text-danger" *ngIf="f['isEmptyAllow'].errors?.['required']">Please check 
                              </small>
                              </div> -->
                     </div>
                  </div>
                  <div class="col-lg-3">
                     <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">is Multi Point Diesel Allow
                     </label>
                     <div class=" col-sm-12 col-lg-12 ">
                        <div class="form-check">
                           <input class="form-check-input checklistcls" type="checkbox"
                              formControlName="isMultiPointDieselAllow">
                        </div>
                        <!-- <div *ngIf="submitted && f['isEmptyAllow'].errors">
                              <small class="text-danger" *ngIf="f['isEmptyAllow'].errors?.['required']">Please select state
                              </small>
                              </div> -->
                     </div>
                  </div>
                  <div class="col-lg-3">
                     <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Empty Allowed </label>
                     <div class=" col-sm-12 col-lg-12 ">
                        <div class="form-check">
                           <input class="form-check-input checklistcls" type="checkbox" id="gridCheck2"
                              formControlName="isEmptyAllow">
                        </div>
                        <!-- <div *ngIf="submitted && f['isEmptyAllow'].errors">
                              <small class="text-danger" *ngIf="f['isEmptyAllow'].errors?.['required']">Please select state
                              </small>
                              </div> -->
                     </div>
                  </div>

                  <div class="col-lg-3">
                     <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Empty Allowed From Date </label>
                     <div class=" col-sm-12 col-lg-12 ">
                        <input type="date" class="form-control" formControlName="fromDate"
                           [ngClass]="{'is-invalid':submitted && f['fromDate'].errors}">
                        <div *ngIf="submitted && f['fromDate'].errors">
                           <small class="text-danger" *ngIf="f['fromDate'].errors?.['required']">Please enter
                              route fromDate
                           </small>
                           <small class="text-danger" *ngIf="f['fromDate'].errors?.serverError">{{
                              f['fromDate'].errors.serverError}}</small>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3">
                     <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Empty Allowed To Date </label>
                     <div class=" col-sm-12 col-lg-12 ">
                        <input type="date" class="form-control" formControlName="toDate"
                           [ngClass]="{'is-invalid':submitted && f['toDate'].errors}">
                        <div *ngIf="submitted && f['toDate'].errors">
                           <small class="text-danger" *ngIf="f['toDate'].errors?.['required']">Please enter
                              route toDate
                           </small>
                           <small class="text-danger" *ngIf="f['toDate'].errors?.serverError">{{
                              f['toDate'].errors.serverError}}</small>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3" >
                     <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Updated Distance (wef .)
                        <span *ngIf="valuchanges" class="text-danger">*</span> </label>
                     <div class=" col-sm-12 col-lg-12 ">
                        <input type="date" class="form-control" formControlName="wefDate"
                           [ngClass]="{'is-invalid':submitted && f['wefDate'].errors}">
                        <div *ngIf="submitted && f['wefDate'].errors">
                           <small class="text-danger" *ngIf="f['wefDate'].errors?.['required']">Please enter
                              route wefDate
                           </small>
                           <small class="text-danger" *ngIf="f['wefDate'].errors?.serverError">{{
                              f['wefDate'].errors.serverError}}</small>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3">
                     <div class="form-group mb-3">
                        <label for="inputText" class=" col-sm-12 col-lg-12 col-form-label">
                           Status
                        </label>
                        <div class=" col-sm-12 col-lg-12">
                           <div class="form-check form-switch ">
                              <input type="checkbox" class="form-check-input" formControlName="isActive">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
            <br>
            <div class="modal-footer">
               <button type="button" class="btn btn-primary  d-inline  btn-sm" (click)="submit()">Submit</button>
               <button type="button" class="btn btn-primary  d-inline  btn-sm"
                  (click)="modal.dismiss('Cross click')">Cancel</button>
            </div>
            <!-- </center> -->
         </div>
      </ng-template>
      <!-- close popup confirm-->
   </div>

   <div class="table-responsive ">
      <label  *ngIf="!activefilter" for="">Page Size:</label>
      <select class="  form-select mx-4 rounded selectclass w-auto" (change)="pagePerData($event)"
      *ngIf="!activefilter">
         <option value="5">5</option>
         <option value="10">10</option>
         <option value="20">20</option>
         <option value="50">50</option>
         <option value="100">100</option>
         <!-- <option value="100">All</option> -->
      </select>
      <table class="table table-report table-hover ">
         <thead class="bg-secondary text-white ">
            <tr>
               <th>Sr. No.</th>
               <th>Route Code</th>
               <th>From City</th>
               <th>To City</th>
               <th>Route Start Date</th>
               <th>Route End Date</th>
               <!-- <th>Control Branch</th> -->
               <th>Action</th>
            </tr>
         </thead>
         <tbody>
            <tr class="zoom-in"
               *ngFor="let Item of routeMasterList| paginate: {id: 'paginationId', itemsPerPage: itemsPerPage, currentPage: p, totalItems:totalItems }; let i=index">
               <td>{{i+1}}</td>
               <td>{{Item.rutcd}}</td>
               <td>{{Item.fromcity}}</td>
               <td>{{Item.tocity}}</td>
               <td>{{Item.routeStartDate | date}}</td>
               <td>{{Item.routeEndDate | date}}</td>
               <!-- <td>{{Item.contrlBranch}}</td> -->
               <td class="display2">
                  <a routerLink="/master/route-master-list/view-route-master/{{Item.routeId}}" ngbTooltip="View"
                     placement="bottom" class="view"><i class="bi bi-eye-fill pr"></i></a>
                  <a ngbTooltip="Edit" placement="bottom" class="edit"><i class="bi bi-pen-fill pr"
                        (click)="editForm(modalmsg,Item.routeId)"></i></a>
                  <a ngbTooltip="Active/Inactive " placement="bottom" class="delete">
                     <div class="form-check form-switch ">
                        <input type="checkbox" class="form-check-input" *ngIf="Item.isActive==true"
                           (click)="activeInactive(Item.routeId)" checked title="Inactive">
                     </div>
                  </a>
               </td>
            </tr>
         </tbody>
      </table>
      <pagination-controls *ngIf="!activefilter"
       (pageChange)="pagination($event)" id="paginationId"
         (pageBoundsCorrection)="correctPage($event)"></pagination-controls>
   </div>
</div>