<div class="main-contianer">
   <div class="display">
      <span class="title">
         <a routerLink="/master"><i class="bi bi-arrow-return-left booticon" ngbTooltip="Back to Master "
               placement="bottom"></i> </a>
      </span>
      <span class=" title">
         <a routerLink="/dashboard"> <i class="bi bi-house-gear booticon" ngbTooltip="Dashboard" placement="bottom"></i>
         </a>
      </span>
   </div>
   <div class="display">
      <h5 class="card-title">Main and Sub-Event Master List
      </h5>
      <div class=" pb-2">
         <button type="button" class="btn btn-success m-1" ngbTooltip="Create Division Master" placement="bottom"
            routerLink="/master/main-and-sub-event-master/create-main-and-sub-event-master"><i
               class="bi bi-plus-lg "></i> Create </button>
         <button class="btn btn-secondary text-white"  ngbTooltip="Download File"
            placement="bottom" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-download"></i>
         </button>
      </div>
   </div>
   <div class="table-responsive">
      <table class="table table-report table-hover " datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" #MyTable
         id="MyTable">
         <thead class="bg-secondary text-white">
            <tr>
               <th>Sr. No.</th>
               <th>Event Type</th>
               <th>Event Description</th>
               <th>Status</th>
               <th>Action</th>
            </tr>
         </thead>
         <tbody>
            <tr class="zoom-in" *ngFor="let Item of MainAndSubEventMasterList; let i=index;">
               <td>{{i+1}}</td>
               <td>{{Item.eventType}}</td>
               <td>{{Item.eventDesc}}</td>
               <td> <span class="{{Item.isActive ?'text-success':' text-danger'}}"><i
                        class="bi bi-check2-square pr"></i>
                     {{Item.isActive?'Active':'Inactive'}}</span>
               </td>
               <td class="display2">
                  <a routerLink="/master/main-and-sub-event-master/view-main-and-sub-event-master/{{Item.eventId}}"
                     ngbTooltip="View " placement="bottom" class="view"><i class="bi bi-eye-fill pr"></i></a>
                  <a ngbTooltip="Edit " placement="bottom" class="edit"
                     routerLink="/master/main-and-sub-event-master/update-main-and-sub-event-master/{{Item.eventId}}"><i
                        class="bi bi-pen-fill pr"></i></a>
                  <a ngbTooltip="Active/Inactive " placement="bottom" class="delete"
                     (click)="activeInactive(Item.eventId)">
                     <div class="form-check form-switch ">
                        <input type="checkbox" class="form-check-input" *ngIf="Item.isActive==true" checked
                           title="Inactive">
                     </div>
                  </a>
               </td>
            </tr>

         </tbody>
      </table>
   </div>
</div>