<div class="main-contianer">
    <div class="display bg-dark-light mb-2">
        <span class="title">
            <a routerLink="/indent"><i class="bi bi-arrow-return-left booticon" ngbTooltip="Back to Indent"
                    placement="right"></i> </a>
        </span>
        <span class="titlemed">Scan Document</span>
        <span class="title">
            <a routerLink="/dashboard"> <i class="bi bi-house-gear booticon " ngbTooltip="Dashboard"
                    placement="bottom"></i>
            </a>
        </span>
    </div>
    <form [formGroup]="formMaster">
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group ">
                    <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Type of Document <span
                            class="text-danger">*</span></label>
                    <div class=" col-sm-12 col-lg-12 has-validation">
                        <ng-select class="pb-2 " placeholder="Select Document" formControlName="docType"
                            [searchable]="true" [clearable]="true"
                            [ngClass]="{'is-invalid':submitted && f['docType'].errors}">
                            <ng-option value="" selected>Select</ng-option>
                            <ng-option [value]="item.id" *ngFor="let item of documentList ">{{item.type}}</ng-option>
                        </ng-select>

                        <div *ngIf="submitted && f['docType'].errors">
                            <small class="text-danger" *ngIf="f['docType'].errors?.['required']">Please select document
                            </small>

                            <small class="text-danger" *ngIf="f['docType'].errors?.serverError">{{
                                f['docType'].errors.serverError}}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group ">
                   <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">POD Number</label>
                   <div class=" col-sm-12 col-lg-12 has-validation">
                      <input type="text" class="form-control" formControlName="docketNo"
                         [ngClass]="{'is-invalid':submitted && f['docketNo'].errors}" >
                          <div *ngIf="submitted && f['docketNo'].errors">
                         <small class="text-danger" *ngIf="f['docketNo'].errors?.['required']">Please enter POD Number</small>
                         <small class="text-danger" *ngIf="f['docketNo'].errors?.serverError">{{
                            f['docketNo'].errors.serverError}}</small>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-lg-3">
                <div class="form-group ">
                   <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Document Number</label>
                   <div class=" col-sm-12 col-lg-12 has-validation">
                      <input type="text" class="form-control" formControlName="documentNo"
                         [ngClass]="{'is-invalid':submitted && f['documentNo'].errors}" >
                          <div *ngIf="submitted && f['documentNo'].errors">
                         <small class="text-danger" *ngIf="f['documentNo'].errors?.['required']">Please enter Document Number</small>
                         <small class="text-danger" *ngIf="f['documentNo'].errors?.serverError">{{
                            f['documentNo'].errors.serverError}}</small>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-lg-3">
                <div class="form-group ">
                   <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Scan Status</label>
                   <div class=" col-sm-12 col-lg-12 has-validation">
                      <input type="text" class="form-control" formControlName="scanStatus" readonly
                         [ngClass]="{'is-invalid':submitted && f['scanStatus'].errors}" >
                          <div *ngIf="submitted && f['scanStatus'].errors">
                         <small class="text-danger" *ngIf="f['scanStatus'].errors?.['required']">Please enter Scan Status</small>
                         <small class="text-danger" *ngIf="f['scanStatus'].errors?.serverError">{{
                            f['scanStatus'].errors.serverError}}</small>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-lg-3">
                <div class="form-group ">
                   <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Upload Copy<span
                         class="text-danger">*</span></label>
                         <div class=" col-sm-12 col-lg-12">
            
                           <input *ngIf="this.selectuploadCopy==undefined" class="form-control custom-file-upload"
                           type="file" accept=".png, .jpg, .jpeg ,.pdf" (change)="onFileChancancelChqque($event,3)">
                           <div *ngIf="this.selectuploadCopy" class="card p-1 text-bg-primary text-center w-auto">
                              <span>{{this.selectuploadCopy}}</span>  
                              <span class="badge badge-secondary removeFile" (click)="this.fileResetPan()">X</span>
                           </div>
                           <div *ngIf="submitted && f['documentName'].errors">
                              <small class="text-danger" *ngIf="f['documentName'].errors?.['required']">Please upload file
                              </small>
                              <small class="text-danger" *ngIf="f['documentName'].errors?.['pattern']">Invalid upload file
                              name</small>
                              <small class="text-danger" *ngIf="f['documentName'].errors?.serverError">{{
                              f['documentName'].errors.serverError}}</small>
                           </div>
                        </div>
                </div>
             </div>
        </div>
        <div class="row">
            <div class="text-center mt-2 mb-2">
                <button type="button" (click)="onSubmit()" class="btn btn-primary rounded-pill btn-sm btn-padding">Submit</button>
            </div>
        </div>

    </form>







</div>