<div class="main-contianer">
    <div class="display bg-dark-light mb-2">
        <span class="title">
            <a routerLink="/indent"><i class="bi bi-arrow-return-left booticon" ngbTooltip="Back to Indent"
                    placement="right"></i> </a>
        </span>
        <span class="titlemed">Allow ELR Customer address Master</span>
        <span class="title">
            <a routerLink="/dashboard"> <i class="bi bi-house-gear booticon " ngbTooltip="Dashboard"
                    placement="bottom"></i>
            </a>
        </span>
    </div>
    <form [formGroup]="formMaster">
        <div class="row mt-3 d-flex justify-content-center  mb-2">

            <div class="col-lg-6">
                <div class="row">
                    <label for="inputText" class="col-sm-4 col-lg-4 col-form-label"> <span class="float-end">Customer Name <span class="text-danger">*</span></span> </label>


                    <div class=" col-lg-6 ">

                        <ng-select class="pb-2 " placeholder="Customer Name Select" formControlName="customerId"
                        [searchable]="true" [clearable]="true"
                        [ngClass]="{'is-invalid':submitted && f['customerId'].errors}">
                        <ng-option value="" selected>Select</ng-option>
                        <ng-option [value]="item.custId" *ngFor="let item of customerList"
                        [disabled]='!item.isActive'><span [title]="item.custName">{{item.custName}} - {{item.custCode}}</span></ng-option>
                        </ng-select>

                        <div *ngIf="submitted && f['customerId'].errors">
                            <small class="text-danger" *ngIf="f['customerId'].errors?.['required']">please
                         select Customer Name
                            </small>
                            <small class="text-danger" *ngIf="f['customerId'].errors?.['pattern']">invalid
                                digitized LR</small>
                            <small class="text-danger" *ngIf="f['customerId'].errors?.serverError">{{
                                f['customerId'].errors.serverError}}</small>
                        </div>
                    </div>
                    <div class=" col-lg-2 ">
                        <button type="button" (click)="searchFilter()"
                            class="btn btn-warning rounded-pill btn-padding2 btn-sm"> Next <i class="bi bi-chevron-double-right"></i></button>

                    </div>

                </div>
            </div>


        </div>
    </form>


  <ng-container *ngIf="tableShow">
<table class="table table-report  table-sm" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" #MyTable
id="MyTable">
    <thead>
        <tr class="bg-secondary text-white">
            <th>Sr. No</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Longitude</th>
            <th>Latitude</th>
            <th>Action</th>
        </tr>
    </thead>
        <tbody>
            <tr class="zoom-in ">
                <td>1.</td>
                <td>ADS</td>
                <td>ASDA</td>
                <td>SADAA</td>
                <td>ASD</td>
                <td>ASD</td>
                <td>   <a  (click)="modelOpen(modelmsg)" ngbTooltip="Edit" placement="bottom" class="edit"><i
                    class="bi bi-pen-fill pr"></i></a>
                
                    <!-- popup confirm-->
    <ng-template #modelmsg let-modal>
        <div class="modal-header qut-hd">
           <h6 class="modal-title" id="exampleModalCenterTitle"> ELR Customer address Master</h6>
           <button type="button" class="clos-btn bg-light-blue" (click)="modal.dismiss('Cross click')"
              aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
           <button type="button" rippleefect="" class="btn btn-icon" (click)="modal.dismiss('Cross click')"><i
              aria-hidden="true" class="fa fa-times"></i></button>
        </div>
        <div class="modal-body" tabindex="0" ngbAutofocus>
            <form [formGroup]="formMaster2">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group ">
                           <label for="inputText" class=" col-sm-12 col-lg-12 col-form-label">
                             Address Id
                           </label>
                           <div class=" col-sm-12 col-lg-12">
                              <input type="text"  class="form-control" formControlName="addressId"
                                 [ngClass]="{'is-invalid':submitt && fs['addressId'].errors}"
                                 >
                              <div *ngIf="submitt && fs['addressId'].errors">
                                 <small class="text-danger" *ngIf="fs['addressId'].errors?.['required']">please enter
                                    Address Id</small>
                                 <small class="text-danger" *ngIf="fs['addressId'].errors?.serverError">{{
                                    fs['addressId'].errors.serverError}}</small>
                              </div>
                           </div>
                        </div>
                     </div>
                
                     <div class="col-lg-3">
                        <div class="form-group ">
                           <label for="inputText" class=" col-sm-12 col-lg-12 col-form-label">
                            Customer Code & Name
                           </label>
                           <div class=" col-sm-12 col-lg-12">
                              <input type="text"  class="form-control" formControlName="addressId"
                                 [ngClass]="{'is-invalid':submitt && fs['addressId'].errors}"
                                 >
                              <div *ngIf="submitt && fs['addressId'].errors">
                                 <small class="text-danger" *ngIf="fs['addressId'].errors?.['required']">please enter
                                    Address Id</small>
                                 <small class="text-danger" *ngIf="fs['addressId'].errors?.serverError">{{
                                    fs['addressId'].errors.serverError}}</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3">
                        <div class="form-group ">
                           <label for="inputText" class=" col-sm-12 col-lg-12 col-form-label">
                            Address
                           </label>
                           <div class=" col-sm-12 col-lg-12">
                              <input type="text"  class="form-control" formControlName="addressId"
                                 [ngClass]="{'is-invalid':submitt && fs['addressId'].errors}"
                                 >
                              <div *ngIf="submitt && fs['addressId'].errors">
                                 <small class="text-danger" *ngIf="fs['addressId'].errors?.['required']">please enter
                                    Address Id</small>
                                 <small class="text-danger" *ngIf="fs['addressId'].errors?.serverError">{{
                                    fs['addressId'].errors.serverError}}</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3">
                        <div class="form-group ">
                           <label for="inputText" class=" col-sm-12 col-lg-12 col-form-label">
                            City Name
                           </label>
                           <div class=" col-sm-12 col-lg-12">
                              <input type="text"  class="form-control" formControlName="addressId"
                                 [ngClass]="{'is-invalid':submitt && fs['addressId'].errors}"
                                 >
                              <div *ngIf="submitt && fs['addressId'].errors">
                                 <small class="text-danger" *ngIf="fs['addressId'].errors?.['required']">please enter
                                    Address Id</small>
                                 <small class="text-danger" *ngIf="fs['addressId'].errors?.serverError">{{
                                    fs['addressId'].errors.serverError}}</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3">
                        <div class="form-group ">
                           <label for="inputText" class=" col-sm-12 col-lg-12 col-form-label">
                            State Name
                           </label>
                           <div class=" col-sm-12 col-lg-12">
                              <input type="text"  class="form-control" formControlName="addressId"
                                 [ngClass]="{'is-invalid':submitt && fs['addressId'].errors}"
                                 >
                              <div *ngIf="submitt && fs['addressId'].errors">
                                 <small class="text-danger" *ngIf="fs['addressId'].errors?.['required']">please enter
                                    Address Id</small>
                                 <small class="text-danger" *ngIf="fs['addressId'].errors?.serverError">{{
                                    fs['addressId'].errors.serverError}}</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3">
                        <div class="form-group ">
                           <label for="inputText" class=" col-sm-12 col-lg-12 col-form-label">
                            Country Name
                           </label>
                           <div class=" col-sm-12 col-lg-12">
                              <input type="text"  class="form-control" formControlName="addressId"
                                 [ngClass]="{'is-invalid':submitt && fs['addressId'].errors}"
                                 >
                              <div *ngIf="submitt && fs['addressId'].errors">
                                 <small class="text-danger" *ngIf="fs['addressId'].errors?.['required']">please enter
                                    Address Id</small>
                                 <small class="text-danger" *ngIf="fs['addressId'].errors?.serverError">{{
                                    fs['addressId'].errors.serverError}}</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3">
                        <div class="form-group ">
                           <label for="inputText" class=" col-sm-12 col-lg-12 col-form-label">
                            Pincode
                           </label>
                           <div class=" col-sm-12 col-lg-12">
                              <input type="text"  class="form-control" formControlName="addressId"
                                 [ngClass]="{'is-invalid':submitt && fs['addressId'].errors}"
                                 >
                              <div *ngIf="submitt && fs['addressId'].errors">
                                 <small class="text-danger" *ngIf="fs['addressId'].errors?.['required']">please enter
                                    Address Id</small>
                                 <small class="text-danger" *ngIf="fs['addressId'].errors?.serverError">{{
                                    fs['addressId'].errors.serverError}}</small>
                              </div>
                           </div>
                        </div>
                     </div>
              
                    <div class="col-lg-3">
                        <div class="form-group ">
                           <label for="inputText" class=" col-sm-12 col-lg-12 col-form-label">
                            ELR Customer to Email
                           </label>
                           <div class=" col-sm-12 col-lg-12">
                              <input type="text"  class="form-control" formControlName="addressId"
                                 [ngClass]="{'is-invalid':submitt && fs['addressId'].errors}"
                                 >
                              <div *ngIf="submitt && fs['addressId'].errors">
                                 <small class="text-danger" *ngIf="fs['addressId'].errors?.['required']">please enter
                                    Address Id</small>
                                 <small class="text-danger" *ngIf="fs['addressId'].errors?.serverError">{{
                                    fs['addressId'].errors.serverError}}</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3">
                        <div class="form-group ">
                           <label for="inputText" class=" col-sm-12 col-lg-12 col-form-label">
                            ELR Customer CC Email
                           </label>
                           <div class=" col-sm-12 col-lg-12">
                              <input type="text"  class="form-control" formControlName="addressId"
                                 [ngClass]="{'is-invalid':submitt && fs['addressId'].errors}"
                                 >
                              <div *ngIf="submitt && fs['addressId'].errors">
                                 <small class="text-danger" *ngIf="fs['addressId'].errors?.['required']">please enter
                                    Address Id</small>
                                 <small class="text-danger" *ngIf="fs['addressId'].errors?.serverError">{{
                                    fs['addressId'].errors.serverError}}</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3">
                        <div class="form-group ">
                           <label for="inputText" class=" col-sm-12 col-lg-12 col-form-label">
                            ELR GSTIN
                           </label>
                           <div class=" col-sm-12 col-lg-12">
                              <input type="text"  class="form-control" formControlName="addressId"
                                 [ngClass]="{'is-invalid':submitt && fs['addressId'].errors}"
                                 >
                              <div *ngIf="submitt && fs['addressId'].errors">
                                 <small class="text-danger" *ngIf="fs['addressId'].errors?.['required']">please enter
                                    Address Id</small>
                                 <small class="text-danger" *ngIf="fs['addressId'].errors?.serverError">{{
                                    fs['addressId'].errors.serverError}}</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3">
                        <div class="form-group ">
                           <label for="inputText" class=" col-sm-12 col-lg-12 col-form-label">
                     
                Our GSTIN
                           </label>
                           <div class=" col-sm-12 col-lg-12">
                              <input type="text"  class="form-control" formControlName="addressId"
                                 [ngClass]="{'is-invalid':submitt && fs['addressId'].errors}"
                                 >
                              <div *ngIf="submitt && fs['addressId'].errors">
                                 <small class="text-danger" *ngIf="fs['addressId'].errors?.['required']">please enter
                                    Address Id</small>
                                 <small class="text-danger" *ngIf="fs['addressId'].errors?.serverError">{{
                                    fs['addressId'].errors.serverError}}</small>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3">
                        <div class="form-group ">
                           <label for="inputText" class=" col-sm-12 col-lg-12 col-form-label">
                              Digitized
                           </label>
                           <div class=" col-sm-12 col-lg-12">
                            <ng-select class="pb-2 " placeholder="Customer Name Select" formControlName="addressId"
                            [searchable]="true" [clearable]="true"
                            [ngClass]="{'is-invalid':submitt && fs['addressId'].errors}">
                            <ng-option value="" selected>Select</ng-option>
                            <ng-option [value]="item.id" *ngFor="let item of DigitigedList"
                           >{{item.type}}</ng-option>
                            </ng-select>
                              <div *ngIf="submitt && fs['addressId'].errors">
                                 <small class="text-danger" *ngIf="fs['addressId'].errors?.['required']">please enter
                                    Address Id</small>
                                 <small class="text-danger" *ngIf="fs['addressId'].errors?.serverError">{{
                                    fs['addressId'].errors.serverError}}</small>
                              </div>
                           </div>
                        </div>
                     </div>
                
                
                </div>
                <div class="row mt-3 mb-3">
                    <div >
                        <button type="button" 
                        class="btn btn-primary rounded-pill btn-padding  float-end"> Update </button>
                    </div>
                
                </div>
                </form>
         
        </div>
     </ng-template>
     <!-- close popup confirm-->
                
                
                
                </td>
            </tr>
         
        </tbody>
 

</table>

</ng-container>  






    </div>