<div class="main-contianer">
    <div class="display">
       <span class="title">
          <a routerLink="/fleet"><i class="bi bi-arrow-return-left booticon"
                ngbTooltip="Back to Fleet " placement="right"></i> </a>
       </span>
       <span class=" title">
          <a routerLink="/dashboard"> <i class="bi bi-house-gear booticon" ngbTooltip="Dashboard" placement="bottom"></i>
          </a>
       </span>


       
    </div>

    <h1 class="text-center pt-5"> Welcome to Fleet Page</h1>
    </div>
