
.dis span{
    font-size: 10px;
}
.disflex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.borderClass{
    border: 3px dotted #ccc;
    padding: 10px;
    margin-top: 25px;
    border-radius: 8px;
}
.dis input{
    width: 80px;
    margin-left: 3px;
}
// .table-responsive input, .ng-select{
//     width: 150px;
// }



//
.exterior {
    margin: auto;
    width: 100%;


    }
    .interior {
    position: relative;
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 10px;

    }
    .left {
    position: sticky;
    z-index: 400;
//   background-color: #ffffff;
//   border-radius: 10px 0px 0px 10px;

    }
    .col1 {
    // width: 100px;
    // min-width: 100px;
    // max-width: 150px;
    left: 0px;
    z-index: 200;
    // padding-bottom: 20px;
    white-space: nowrap;
    }
    .NewDisplay{
        display: flex;
        width: 100%;
        white-space: nowrap;
        justify-content:flex-start;
      
    }
    .NewDisplay .col-lg-1{
        margin-right: 5px;
        margin-left: 5px;
    }
    .NewDisplay  .col-lg-1 {
        flex: 0 0 auto;
        width: 12.333335%;
    }
    
  .colorbg{
    background-color: rgb(255 232 197);
    border-radius: 10px 0px 0px 10px;
}
  .colorbg2{
   background-color:#ff980014;
   border-radius: 0px 10px 10px 0px;
  }

  .borderClass{
    border: 3px dotted #ccc;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
}


  ///
  /// 
  /// 
  /// 
  /// 
  .btnCircle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    transform: translate(-50%, -50%);
    line-height: 18px;
    vertical-align: center;
    position: relative;
    padding: 10px;
}

.bi-plus-circle-fill {
    color: #007bff;
    font-size: 22px;
    cursor: pointer;
    border-color: #007bff;
}

.bi-plus-circle-fill:hover {
    color: #0069d9;
    font-size: 22px;
    cursor: pointer;
    border-color: #0062cc;
}

.bi-x-circle-fill {
    font-size: 22px;
    cursor: pointer;
    color: #dc3545;
    border-color: #dc3545;
}

.bi-x-circle-fill:hover {
    font-size: 22px;
    cursor: pointer;
    color: #c82333;
    border-color: #bd2130;

}


.adding {
    color: #0505d6;
    font-size: 22px;
    cursor: pointer;
    border-color: #0539d6;
}
.deleting{
    color: #d60505;
    font-size: 22px;
    cursor: pointer;
    border-color: #d60505; 
}