<div class="main-contianer">
   <div class="display">
      <span class="title">
         <a routerLink="/master"><i class="bi bi-arrow-return-left booticon" ngbTooltip="Back to Master "
               placement="bottom"></i> </a>
      </span>
      <span class=" title">
         <a routerLink="/dashboard"> <i class="bi bi-house-gear booticon" ngbTooltip="Dashboard" placement="bottom"></i>
         </a>
      </span>
   </div>


   <div class="display">
      <h5 class="card-title">Branch Master List 
      </h5>
      <div class="pb-2">
         <button type="button" class="btn btn-success m-1" ngbTooltip="Create Branch Master" placement="bottom" routerLink="/master/branch-master/new-branch-master"><i
               class="bi bi-plus-lg "></i> Create </button>
               <button class="btn btn-secondary text-white"  (click)="downloadExcel(MyTable)"
               ngbTooltip="Download List" placement="bottom" type="button" >
               <i class="bi bi-download"></i>
            </button>
      </div>
   </div>
   <div class="table-responsive">
      <table class="table table-report table-hover " datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
     #MyTable id="MyTable">
      <thead class="bg-secondary text-white">
            <tr>
               <th>Sr. No.</th>
               <th>Branch Name</th>
               <th>Country Name</th>
               <th>State Name</th>
               <th>City Name</th>
               <th>Address Line1</th>
               <th>Address Line2</th>
               <th>Mobile No</th>
               <th>Tel No</th>
               <th>Email Id</th>
                <th>Status</th>
               <th>Action</th>
            </tr>
         </thead>
         <tbody>
            <tr class="zoom-in" *ngFor="let Item of branchList; let i=index">
               <td>{{i+1}}</td>
               <td>{{Item.branchName}}</td>
               <td>{{Item.countryName}}</td>
               <td>{{Item.stateName}}</td>
               <td>{{Item.cityName}}</td>
               <td>{{Item.addressLine1}}</td>
               <td>{{Item.addressLine2}}</td>
               <td>{{Item.mobileNo}}</td>
               <td>{{Item.telno}}</td>
               <td>{{Item.emailId}}</td>
               <td>  <span class="{{Item.isActive ?'text-success':' text-danger'}}"><i class="bi bi-check2-square pr"></i>
                  {{Item.isActive?'Active':'Inactive'}}</span>
            </td>
               <td class="display2">
                  <a routerLink="/master/branch-master/view-branch-master/{{Item.branchId}}" ngbTooltip="View" placement="bottom" class="view"><i
                        class="bi bi-eye-fill pr"></i></a>
                  <a (click)="redirectionEdit(Item.branchId)" ngbTooltip="Edit" placement="bottom" class="edit"><i
                        class="bi bi-pen-fill pr"></i></a>
                  <a ngbTooltip="Active/Inactive"  class="delete">
                           <div class="form-check form-switch ">
                              <input type="checkbox" class="form-check-input" 
                              *ngIf="Item.isActive==true"
                                 (click)="activeInactive(Item.branchId)" checked >
                           </div>
                        </a>

               </td>
            </tr>

         </tbody>
      </table>
   </div>
</div>