
.avatar-upload {
  position: relative;
  max-width: 167px;
  margin: 10px auto 30px;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 19px;
  z-index: 1;
  top: 13px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit .custom-label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #3efc78;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit .upload-image {
  background: #3efc78;
}

.avatar-upload .avatar-edit .remove-image {
  background: #E91E63;
}

.avatar-upload .avatar-edit .custom-label:hover {
  opacity: 1;
}

.avatar-upload .avatar-edit .custom-label:after {
  position: absolute;
  text-align: center;
  margin: auto;
  top: 8px;
  right: 0;
  left: 2px;
  width: 18px;
}

.avatar-upload .avatar-edit .upload-image:after {
  content: url('/assets/edit.svg');
}

.avatar-upload .avatar-edit .remove-image:after {
  content: url('/assets/close.svg');
  left: 0px !important;
}

.avatar-upload .avatar-preview {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  border: 12px solid #fff;
  -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  box-shadow: 0 0 45px rgba(0, 0, 0, .2);
}

.avatar-upload .avatar-preview>div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.removeFile{
  position: absolute;
  // left: 117px;
  right: 0;
  top: -11px;
  cursor: pointer;
  color: #fff;
  font-size: revert;
  background: #000000a3;
  
}



// new css
.viewfile{
  width: 130px;
  height: 30px;
  background-color: #ffe08a;
  border-radius: 5px;
  position: relative;
  border: 2px solid #ccc;
}
.viewfile:hover{
background-color: #ffdc7d;
border-color: transparent;
}

.imgres{
  min-width: 100% !important;
  height: 26px;
  background-size:cover !important;                   
  background-repeat:   no-repeat !important;
  background-position: center center  !important; 
  border-radius: 5px;

}


input[type="file"] {
  outline: none;
  padding: 4px;
  margin: -4px;
}

input[type="file"]:focus-within::file-selector-button,
input[type="file"]:focus::file-selector-button {
  outline: 2px solid #0964b0;
  outline-offset: 2px;
}

input[type="file"]::before {
  top: 10px;
}

input[type="file"]::after {
  top: 10px;
}

/* ------- From Step 2 ------- */

input[type="file"] {
  position: relative;
}

input[type="file"]::file-selector-button {
  width: 136px;
  color: transparent;
}

/* Faked label styles and icon */
input[type="file"]::before {
  position: absolute;
  pointer-events: none;
  /*   top: 11px; */
  left: 40px;
  color: #0964b0;
  content: "Upload File";
}

input[type="file"]::after {
  position: absolute;
  pointer-events: none;
  /*   top: 10px; */
  left: 16px;
  height: 20px;
  width: 20px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

/* ------- From Step 1 ------- */

/* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 30px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}
.btn.disabled, .btn:disabled, fieldset:disabled .btn {
  background-color: gray !important;
}