.borderNew{
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
}

.form-check {
    display: block;
    min-height: 0px;
    padding-left: 0.5em;
    margin-bottom: 0.125rem;
}
.form-check-label{
    margin-right: 20px;
    margin-left: 4px;
}