.inputClass{
    width: 180px;
}
.ngselectClass{
    width: 250px;
}
.tablebgbotttom{
    display: flex;
    justify-content: left;
    background-color: #ccc;
    padding: 4px;
}

.item{
    width: 160px;
}