<div class="main-contianer">
    <div class="display">
        <span class="title">
            <a routerLink="/master/customer-contract-master"><i class="bi bi-arrow-return-left booticon"
                    ngbTooltip="Back to Master" placement="bottom"></i> </a>
        </span>

        <span class="float-end title">
            <a routerLink="/dashboard">
                <i class="bi bi-house-gear booticon " ngbTooltip="Dashboard" placement="bottom"></i> </a>
        </span>
    </div>
    <div class="display">
        <h5 class="card-title">Customer Contact master List
        </h5>

        <div class=" pb-2">
            <button type="button" class="btn btn-success m-1"  (click)="modelopen(modalmsg)" 
            ><i class="bi bi-plus-lg "></i> Create</button>

            <button class="btn btn-secondary text-white" ngbTooltip="Download File" placement="bottom" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-download"></i>
            </button>
        </div>
    </div>

    <!-- popup confirm-->
    <ng-template #modalmsg let-modal>
        <div class="modal-header qut-hd">
           <h6 class="modal-title" id="exampleModalCenterTitle">New Customer Contact master</h6>
           <button type="button" class="clos-btn bg-light-blue" (click)="modal.dismiss('Cross click')"
              aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
           <button type="button" rippleeffect="" class="btn btn-icon" (click)="modal.dismiss('Cross click')"><i
              aria-hidden="true" class="fa fa-times"></i></button>
        </div>
        <div class="modal-body" tabindex="0" ngbAutofocus>
           <form [formGroup]="formMaster">
              <div class="row">
    
                 <div class="col-lg-3">
                    <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Customer Code & Name  <span class="text-danger">*</span></label>
                    <div class=" col-sm-12 col-lg-12 ">
                     <ng-select placeholder="Load Type Select" [searchable]="true" [clearable]="true"
                     formControlName="cutomerCode">
                     <ng-option value="" selected>Select</ng-option>
                     <ng-option [disabled]='!item.isActive' [value]="item.custId"
                        *ngFor="let item of masterList">{{item.custGroupName}}</ng-option>
                  </ng-select>
                       <div *ngIf="submitted && f['customerCode'].errors">
                          <small class="text-danger" *ngIf="f['customerCode'].errors?.['required']">Please enter distance
                          </small>
                       </div>
                    </div>
                 </div>
        
                 <div class="col-lg-3">
                    <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Select Payment Basis<span class="text-danger">*</span></label>
                    <div class=" col-sm-12 col-lg-12 ">
                        <select class="form-select">
                           <option>Select</option>
                            <option>Paid</option>
                            <option>TBB</option>
                           
                        </select>

                       <!-- <input type="text" class="form-control" formControlName="customerCode"
                          [ngClass]="{'is-invalid':submitted && f['customerCode'].errors}" placeholder="C00010080 : HINDUSTAN UNILEVER LTD" > -->
                       <div *ngIf="submitted && f['customerCode'].errors">
                          <small class="text-danger" *ngIf="f['customerCode'].errors?.['required']">Please enter distance
                          </small>
                       </div>
                    </div>
                 </div>
                 <div class="col-lg-3">
                    <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Start Date<span class="text-danger">*</span></label>
                    <div class=" col-sm-12 col-lg-12 ">
                       <input type="date" class="form-control" formControlName="customerCode"
                          [ngClass]="{'is-invalid':submitted && f['customerCode'].errors}"  >
                       <div *ngIf="submitted && f['customerCode'].errors">
                          <small class="text-danger" *ngIf="f['customerCode'].errors?.['required']">Please enter distance
                          </small>
                       </div>
                    </div>
                 </div>
                 <div class="col-lg-3">
                    <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">	End Date<span class="text-danger">*</span></label>
                    <div class=" col-sm-12 col-lg-12 ">
                       <input type="date" class="form-control" formControlName="customerCode"
                          [ngClass]="{'is-invalid':submitted && f['customerCode'].errors}"  >
                       <div *ngIf="submitted && f['customerCode'].errors">
                          <small class="text-danger" *ngIf="f['customerCode'].errors?.['required']">Please enter distance
                          </small>
                       </div>
                    </div>
                 </div>
                 <div class="col-lg-3">
                    <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Contract Description<span class="text-danger">*</span></label>
                    <div class=" col-sm-12 col-lg-12 ">
                       <textarea type="text" class="form-control" formControlName="customerCode"
                          [ngClass]="{'is-invalid':submitted && f['customerCode'].errors}"  ></textarea>
                       <div *ngIf="submitted && f['customerCode'].errors">
                          <small class="text-danger" *ngIf="f['customerCode'].errors?.['required']">Please enter distance
                          </small>
                       </div>
                    </div>
                 </div>
              </div>
           </form>
           <br>
       
           <div class="modal-footer">
              <button type="button" class="btn btn-primary  d-inline  btn-sm"
                 >Submit</button>
              <button type="button" class="btn btn-primary  d-inline  btn-sm"
                 (click)="modal.dismiss('Cross click')">cancel</button>
           </div>
           <!-- </center> -->
        </div>
     </ng-template>
     <!-- close popup confirm-->



    <div class="table-responsive">
        <table class="table table-report table-hover ">
            <thead class="bg-secondary text-white">
                <tr>
                    <th>Sr. No.</th>
                    <th>ContractID</th>
                    <th>Contract Category</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Contract Type</th>
                    <th>Days Remaining To Expire</th>
                    <th>Status</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                <tr class="zoom-in">
                    <td>1</td>
                    <td>CN0000049381</td>
                    <td>Main</td>
                    <td>01 Apr 2012</td>
                    <td>13 Sep 2012</td>
                    <td>TBB</td>
                    <td>-3995</td>
                    <td>
                        <span><i class="bi bi-check2-square pr"></i>
                            Active
                        </span>

                    </td>
                    <td class="display2 ">
                        <a placement="bottom" ngbTooltip="View" class="view"><i class="bi bi-eye-fill pr"></i></a>
                        <a (click)="goToBsicInfo()" placement="bottom" ngbTooltip="Edit" class="edit"><i class="bi bi-pen-fill pr"></i></a>
                        <a placement="bottom" ngbTooltip="Active/Inactive" class="delete">
                            <div class="form-check form-switch ">
                                <input type="checkbox" class="form-check-input" checked>
                            </div>
                        </a>



                    </td>
                </tr>
                <tr class="zoom-in">
                    <td>1</td>
                    <td>CN0000049381</td>
                    <td>Main</td>
                    <td>01 Apr 2012</td>
                    <td>13 Sep 2012</td>
                    <td>TBB</td>
                    <td>-3995</td>
                    <td>
                        <span><i class="bi bi-check2-square pr"></i>
                            Active
                        </span>

                    </td>
                    <td class="display2 ">
                        <a placement="bottom" ngbTooltip="View" class="view"><i class="bi bi-eye-fill pr"></i></a>
                        <a (click)="goToBsicInfo()" placement="bottom" ngbTooltip="Edit" class="edit"><i class="bi bi-pen-fill pr"></i></a>
                        <a placement="bottom" ngbTooltip="Active/Inactive" class="delete">
                            <div class="form-check form-switch ">
                                <input type="checkbox" class="form-check-input" checked>
                            </div>
                        </a>



                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>