.form-check {
    display: block;
    min-height: 0px;
    padding-left: 0.5em;
    margin-bottom: 0.125rem;
}
.form-check-label{
    margin-right: 20px;
    margin-left: 4px;
}
.pr-4{
    padding-right: 3px;
    padding-left: 17px;
    display: flex;
    align-items: center;
    justify-content: start;
}