<div class="main-contianer">
    <div class="display">
    <span class="title">
       <a routerLink="/master"><i class="bi bi-arrow-return-left booticon" ngbTooltip="Back to Master" placement="right"></i> </a>
   </span>
    <span class="title">
       <a routerLink="/dashboard"> <i class="bi bi-house-gear booticon " ngbTooltip="Dashboard" placement="bottom"></i> </a>
    </span>
 </div>
 <div class="display">
    <h5 class="card-title">Role User Master List
    </h5>
 
    <div class="pb-2">
       <button type="button" class="btn btn-success m-1" routerLink="/master/role-user-mapping/new-role-user-mapping" ngbTooltip="Create Role User Mapping" placement="bottom"><i
          class="bi bi-plus-lg "></i> Create </button>
          <button class="btn btn-secondary text-white" placement="bottom" (click)="downloadExcel(MyTable)"
             ngbTooltip="Download List" type="button" >
             <i class="bi bi-download"></i>
          </button>
           </div>
    </div>
    <div class="table-responsive">
       <table class="table table-report table-hover " datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
       #MyTable
       id="MyTable" >
       <thead class="bg-secondary text-white">
          <tr>
 
             <th>Sr. No. </th>
             <th>Role Name</th>
             <th>User Name</th>
             <th>Default Role</th>
              <th>Is Active</th>
             <th>Action</th>
          </tr>
       </thead>
       <tbody>
          <tr class="zoom-in" *ngFor="let Item of roleUserMappingList; let i=index">
             <td>{{i+1}}</td>
             <td>{{Item.roleName}}</td>
             <td>{{Item.name}}</td>
             <td>{{Item.defaultRole}}</td>
             <td>  <span class="{{Item.isActive ?'text-success':' text-danger'}}"><i class="bi bi-check2-square pr"></i>
                {{Item.isActive?'Active':'Inactive'}}</span>
          </td>
             <td class="display2">
                <!-- <a title="view" class="view" (click)="rediredctionView(Item.userId)" ngbTooltip="view" placement="bottom" ><i
                      class="bi bi-eye-fill pr"></i></a> -->
                <a (click)="redirectionEdit(Item.userId)"  class="edit" ngbTooltip="Edit" placement="bottom" ><i
                      class="bi bi-pen-fill pr"></i></a>
                <a  class="delete" ngbTooltip="Active/Inactive" placement="bottom" >
                   <div class="form-check form-switch ">
                      <input type="checkbox" class="form-check-input" 
                      *ngIf="Item.isActive==true"
                         (click)="activeInactive(Item.mappingId)" checked title="Inactive">
                   </div>
                </a>
             </td>
          </tr>
 
       </tbody>
    </table>
 </div>
 </div>