.bi-x-circle-fill{
    font-size: 22px; 
    cursor: pointer;
    color: #dc3545;
    border-color: #dc3545;
}
.bi-x-circle-fill:hover{
    font-size: 22px; 
    cursor: pointer;
 color: #c82333;
    border-color: #bd2130;

}
.numCls{
    font-weight: bold;
    font-size: 12px;
}