
<div class="main-contianer">
    <div class="display">
    <span class="title">
        <a routerLink="/fleet"><i class="bi bi-arrow-return-left booticon" ngbTooltip="Back to Fleet" placement="bottom"></i> </a>
    </span>
    <span class=" title">
       <a routerLink="/dashboard"> <i class="bi bi-house-gear booticon" ngbTooltip="Dashboard" placement="bottom"></i> </a>
    </span>
 </div>
 <div class="display">
    <h5 class="card-title">Main Category Master
    </h5>
 
    <div class=" pb-2">
       <button type="button" class="btn btn-success m-1" (click)="modelOpen(modelmsg)" ngbTooltip="Create Main Category Master" placement="bottom"><i
          class="bi bi-plus-lg "></i> Create </button>
          <button class="btn btn-secondary text-white"  (click)="downloadExcel(MyTable)"
          ngbTooltip="Download List" placement="bottom" type="button" >
          <i class="bi bi-download"></i>
       </button>
    </div>
    </div>
    <div class="table-responsive">
       <table class="table table-report table-hover "datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
       #MyTable id="MyTable">
       <thead class="bg-secondary text-white">
          <tr>
 
             <th>Sr. No.</th>
             <th>Record ID</th>
             <th>Main Category Name </th>
             <th>Description </th>
             <th>Status</th>
             <th>Action</th>
          </tr>
       </thead>
       <tbody>
          <tr class="zoom-in" *ngFor="let item of MaincategoryMasterList; index as i;">
             <td>{{i+1}}</td>
             <td>{{item.catId}}</td>
             <td>{{item.catName}}</td>
             <td>{{item.catDescription}}</td>
          
             <td>  <span class="{{item.isActive ?'text-success':' text-danger'}}"><i class="bi bi-check2-square "></i>
                {{item.isActive?'Active':'Inactive'}}</span>
          </td> 
 
 
             <td class="display2">
              <a  ngbTooltip="view" routerLink="/fleet/main-category-master-dashboard/main-category-master-view/{{item.catId}}" placement="bottom" class="view" ><i class="bi bi-eye-fill pr"></i></a> 
                <a  (click)="editmenu(item,modelmsg)" ngbTooltip="Edit" placement="bottom" class="edit" ><i
                      class="bi bi-pen-fill pr"></i></a>
               
 
                      <!-- <a ngbTooltip="Active/Inactive" placement="bottom" class="delete">
                         <div class="form-check form-switch ">
                            <input type="checkbox" class="form-check-input" 
                           
                               checked title="Inactive">
                         </div>
                      </a> -->
 
             </td>
          </tr>
 
       </tbody>
    </table>
 </div>


 
    <!-- popup confirm-->
    <ng-template #modelmsg let-modal>
        <div class="modal-header qut-hd">
           <h6 class="modal-title" id="exampleModalCenterTitle">Main Category Master</h6>
           <button type="button" class="clos-btn bg-light-blue" (click)="modal.dismiss('Cross click')"
              aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
           <button type="button" rippleefect="" class="btn btn-icon" (click)="modal.dismiss('Cross click')"><i
              aria-hidden="true" class="fa fa-times"></i></button>
        </div>
        <div class="modal-body" tabindex="0" ngbAutofocus>
         
            <form [formGroup]="formMaster">
                <div class="row">
                
                    <div class="col-lg-5">
                        <div class="form-group mb-3">
                            <label for="inputText" class=" col-sm-12 col-lg-12 col-form-label">
                                Name <span class="text-danger">*</span>
                            </label>
                            <div class=" col-sm-12 col-lg-12">
                                <input type="text" class="form-control" formControlName="catName" [readOnly]="this.mainCatDetailById!=''"
                                    [ngClass]="{'is-invalid':submitted && f['catName'].errors}">
                
                                <div *ngIf="submitted && f['catName'].errors">
                                    <small class="text-danger" *ngIf="f['catName'].errors?.['required']">Please enter  Name
                                        </small>
                                        <small class="text-danger" *ngIf="f['catName'].errors?.['pattern']">Invalid name</small>
                                        <small class="text-danger" *ngIf="f['catName'].errors?.serverError">{{
                                            f['catName'].errors.serverError}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                    <div class="col-lg-5">
                        <div class="form-group mb-3">
                            <label for="inputText" class=" col-sm-12 col-lg-12 col-form-label">
                                Description  <span class="text-danger">*</span>
                            </label>
                            <div class=" col-sm-12 col-lg-12">
                                <textarea type="text" class="form-control" formControlName="catDescription"
                                    [ngClass]="{'is-invalid':submitted && f['catDescription'].errors}"></textarea>
                
                                <div *ngIf="submitted && f['catDescription'].errors">
                                    <small class="text-danger" *ngIf="f['catDescription'].errors?.['required']">Please enter  Description
                                        </small>
                                        <small class="text-danger" *ngIf="f['catDescription'].errors?.['pattern']">Invalid description</small>
                                        <small class="text-danger" *ngIf="f['catDescription'].errors?.serverError">{{
                                            f['catDescription'].errors.serverError}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group mb-3">
                            <label for="inputText" class=" col-sm-12 col-lg-12 col-form-label">
                                Status
                            </label>
                            <div class=" col-sm-12 col-lg-12">
                                <div class="form-check form-switch ">
                                    <input type="checkbox" class="form-check-input" formControlName="isActive">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="text-center">

                        <button type="button"  (click)="onsave()"  class="btn btn-primary rounded-pill btn-padding btn-sm m-1">{{ this.mainCatDetailById !='' ? 'Update' : 'Submit' }}</button>
                       
                        <button type="button" (click)="modal.dismiss('Cross click')" class="btn btn-primary rounded-pill btn-padding btn-sm">Cancel</button>
                    </div>
                
                </div>
                </form>


        </div>
     </ng-template>
     <!-- close popup confirm-->
 </div>