
<div class="row">
  <div class="col-lg-3">
  </div>
<div class="col-lg-6">
    <div class="card-body">
      <div class="col-sm-12 ">
        <div class="form-floating mb-3">

          <ng-select  class="pb-2 pt-2"        
          placeholder="Select Finacial Year"  [virtualScroll]="true" > 
         <ng-option value="1">2022-2023</ng-option>
         <ng-option value="2">2024-2025</ng-option>
         <ng-option value="3">2026-2027</ng-option>
         <ng-option value="4">2028-2029</ng-option>
         <ng-option value="5">2030-2031</ng-option>
</ng-select>



       
        </div>
    
        <div class="form-floating mb-3">

          <ng-select  class="pb-2 pt-2"        
          placeholder="Company Selection"  [virtualScroll]="true" > 
         <ng-option value="1">TRT:TRANSPORT DIVISION</ng-option>
         <ng-option value="1">TRT:TRANSPORT DIVISION</ng-option>
   
</ng-select>
 
        </div>
    
          <button type="submit" class="btn btn-primary">Change</button>
       
      </div>
        </div>
</div>
<div class="col-lg-3">
  </div>
</div>




