.bi-plus-circle-fill{
    color: #007bff;
    font-size: 22px; 
    cursor: pointer;
    border-color: #007bff;
}
.bi-plus-circle-fill:hover{
    color: #0069d9;
    font-size: 22px; 
    cursor: pointer;
    border-color: #0062cc;
}


.bi-x-circle-fill{
    font-size: 22px; 
    cursor: pointer;
    color: #dc3545;
    border-color: #dc3545;
}
.bi-x-circle-fill:hover{
    font-size: 22px; 
    cursor: pointer;
 color: #c82333;
    border-color: #bd2130;

}
.listcls .form-check-input {
    width: 0.8rem;
    height: 0.8rem;
    cursor: pointer;
}