
    <div class="container">
       <section class="section register min-vh-100 d-flex flex-column align-items-center  py-4">
          <div class="container">
             <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 ">
                   <div class="intro_text">
                      <div class="text_lg">V-ERP</div>
                      <!-- <div class="text_thin">
                         Your gateway to our powerhouse
                         </div> -->
                   </div>
                   <img class="pic-login-3" src="./assets/img/pic-login-3.svg" height="520px">
                   <!-- <div class="tag_msg">
                      <img src="assets/img/tag-msg.png" alt="">
                      </div> -->
                </div>
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                   <div class="d-flex justify-content-center ">
                      <a href="index.html" class="logo  align-items-center ">
                      <img src="assets/img/logo2.png" alt="" style="max-height: 60px;">
                      </a>
                   </div>
                   <!-- End Logo -->
                 
                
                   <router-outlet></router-outlet>
                </div>
             </div>
          </div>
          <!-- modal-open -->
          <app-privacy-policy></app-privacy-policy>
          <!-- modal-close -->
  
       </section>
    </div>
 <!-- <button routerLink="/dashboard">redirect</button> -->

