.card-title {
    padding: 5px 0 5px 0;
    font-size: 13px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
}
.pl-0{
    padding-left: 0px;
}
.pr-3{
    padding-right: 3px;
}
.form-check-label{
    margin-right: 20px;
    margin-left: 4px;
}
.pr-4{
    padding-right: 3px;
    padding-left: 17px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.form-check {
    display: block;
    min-height: 0px;
    padding-left: 0.5em;
    margin-bottom: 0.125rem;
}
span{
    font-size: 11px;
}
.removeFile{
    position: absolute;
    // left: 117px;
    right: 0;
    top: -11px;
    cursor: pointer;
    color: #fff;
    font-size: revert;
    background: #000000a3;
    
  }