<div class="card mb-3">
   <div class="card-body" style="min-height: 30vh;">
      <form class="row g-3" *ngIf="forgetemail==''">
         <div class="col-12">
            <label for="yourUsername" class="form-label">Please Enter your User Code</label>
            <div class="input-group has-validation">
               <!-- <span class="input-group-text" id="inputGroupPrepend">@</span> -->
               <input type="email" name="email" class="form-control" id="email" placeholder="enter your user code"
               #password (keyup)="validatingInput(password)">
            </div>
            <div class="text-danger p-2" *ngIf="validation || validationmessege!=''">{{validationmessege}}</div>
         </div>
         <div class="col-12">
            <div class="form-check">
               <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
               <label class="form-check-label" for="rememberMe">&nbsp;  Remember me</label>
               <label class="form-check-label pull-right" for="rememberMe" style="float:right;"><a routerLink="/auth">
               Sign in ?</a></label>
            </div>
         </div>
         <div class="col-12">
            <button class="btn btn-primary w-100" type="button" (click)="forgetPassword(password)">Submit</button>
         </div>
      </form>
      <div class="my-4 p-4" *ngIf="forgetemail!=''">
         <p class="text-success ">Sent Email to succesfully to reset password</p>
         <label class="form-check-label pull-right" for="rememberMe" style="float:right;">
            <a routerLink="/auth">Now Sign
         !</a></label>
      </div>
   </div>
</div>