<div class="main-contianer">
   <div class="display">
      <span class="title">
         <a routerLink="/master/company-master"><i class="bi bi-arrow-return-left booticon"
               ngbTooltip="Back to Company Master " placement="right"></i> </a>
      </span>
      <span class=" title">
         <a routerLink="/dashboard"> <i class="bi bi-house-gear booticon" ngbTooltip="Dashboard" placement="bottom"></i>
         </a>
      </span>
   </div>

   <h5 class="card-title">{{this.companyDetailsById?'Update':'Create'}} Company Master
   </h5>
   <form [formGroup]="formCompanyMaster" class="novalidate">
      <div class="row ">
         <div class="col-lg-3">
            <div class="form-group ">
               <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Select Country <span
                     class="text-danger">*</span></label>
               <div class=" col-sm-12 col-lg-12 ">
                  <ng-select class="pb-2 " placeholder="Country Select" (change)="dropdownBindState($event,1)"
                     formControlName="countryId" [searchable]="true" [clearable]="true"
                     [ngClass]="{'is-invalid':submitted && f['countryId'].errors}">
                     <ng-option value="" selected>Select</ng-option>
                     <ng-option [disabled]='!item.isActive' [value]="item.countryId"
                        *ngFor="let item of countryList ">{{item.countryName}}</ng-option>
                  </ng-select>
                  <div *ngIf="submitted && f['countryId'].errors">
                     <small class="text-danger" *ngIf="f['countryId'].errors?.['required']">Please select country
                     </small>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3">
            <div class="form-group ">
               <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Select State <span
                     class="text-danger">*</span></label>
               <div class=" col-sm-12 col-lg-12 ">
                  <ng-select class="pb-2 " placeholder="State Select" formControlName="stateId"
                     (change)="dropdownBindState($event,2)" [searchable]="true" [clearable]="true"
                     [ngClass]="{'is-invalid':submitted && f['stateId'].errors}">
                     <ng-option value="" selected>Select</ng-option>
                     <ng-option [disabled]='!item.isActive' [value]="item.stateId"
                        *ngFor="let item of stateList ">{{item.stateName}}</ng-option>

                  </ng-select>
                  <div *ngIf="submitted && f['stateId'].errors">
                     <small class="text-danger" *ngIf="f['stateId'].errors?.['required']">Please select state 
                     </small>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3">
            <div class="form-group ">
               <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Select City Name <span
                     class="text-danger">*</span></label>
               <div class=" col-sm-12 col-lg-12 ">
                  <ng-select class="pb-2 " placeholder="State Select" formControlName="cityId" [searchable]="true"
                     [clearable]="true" [ngClass]="{'is-invalid':submitted && f['cityId'].errors}">
                     <ng-option value="" selected>Select</ng-option>
                     <ng-option [disabled]='!item.isActive' [value]="item.cityId"
                        *ngFor="let item of cityList">{{item.cityName}}</ng-option>
                  </ng-select>
                  <div *ngIf="submitted && f['cityId'].errors">
                     <small class="text-danger" *ngIf="f['cityId'].errors?.['required']">Please select city 
                     </small>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-lg-3">
            <div class="form-group ">
               <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Short Code <span
                     class="text-danger">*</span></label>
               <div class=" col-sm-12 col-lg-12 has-validation">
                  <input type="text" class="form-control" formControlName="shortCode"
                     [ngClass]="{'is-invalid':submitted && f['shortCode'].errors}" maxlength="5"
                     id="code" appUpperCase>

                  <div *ngIf="submitted && f['shortCode'].errors">
                     <small class="text-danger" *ngIf="f['shortCode'].errors?.['required']">Please enter short code</small>
                     <small class="text-danger" *ngIf="f['shortCode'].errors?.['pattern']">Invalid short code</small>
                     <!-- <small class="text-danger" *ngIf="f['shortCode'].errors?.['minlength']">
                            Name must be at least 2 characters long.
                         </small> -->
                     <small class="text-danger" *ngIf="f['shortCode'].errors?.serverError">{{
                        f['shortCode'].errors.serverError}}</small>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3">
            <div class="form-group ">
               <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">Company Name <span
                     class="text-danger">*</span></label>
               <div class=" col-sm-12 col-lg-12 has-validation">
                  <input type="text" class="form-control" formControlName="companyName"
                     [ngClass]="{'is-invalid':submitted && f['companyName'].errors}">

                  <div *ngIf="submitted && f['companyName'].errors">
                     <small class="text-danger" *ngIf="f['companyName'].errors?.['required']">Please enter company name</small>
                     <small class="text-danger" *ngIf="f['companyName'].errors?.['pattern']">Invalid company
                        name</small>
                     <!-- <small class="text-danger" *ngIf="f['companyName'].errors?.['minlength']">
                            Name must be at least 2 characters long.
                         </small> -->
                     <small class="text-danger" *ngIf="f['companyName'].errors?.serverError">{{
                        f['companyName'].errors.serverError}}</small>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3">
            <div class="form-group ">
               <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">AddressLine1 <span
                     class="text-danger">*</span></label>
               <div class=" col-sm-12 col-lg-12 has-validation">
                  <textarea class="form-control" formControlName="addressLine1" maxlength="500"
                     [ngClass]="{'is-invalid':submitted && f['addressLine1'].errors}" style="height: 30px;"></textarea>

                  <div *ngIf="submitted && f['addressLine1'].errors">
                     <small class="text-danger" *ngIf="f['addressLine1'].errors?.['required']">Please enter addressLine1</small>
                     <small class="text-danger" *ngIf="f['addressLine1'].errors?.['pattern']">addressLine1 can not be
                        blank</small>
                     <!-- <small class="text-danger" *ngIf="f['addressLine1'].errors?.['minlength']">
                            Name must be at least 2 characters long.
                         </small> -->
                     <small class="text-danger" *ngIf="f['addressLine1'].errors?.serverError">{{
                        f['addressLine1'].errors.serverError}}</small>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-3">
            <div class="form-group ">
               <label for="inputText" class="col-sm-12 col-lg-12 col-form-label">addressLine2 </label>
               <div class=" col-sm-12 col-lg-12 has-validation">
                  <textarea class="form-control" formControlName="addressLine2"
                  maxlength="500"
                     [ngClass]="{'is-invalid':submitted && f['addressLine2'].errors}" style="height: 30px;"></textarea>

                  <div *ngIf="submitted && f['addressLine2'].errors">
                     <small class="text-danger" *ngIf="f['addressLine2'].errors?.['required']">Please enter your
                        addressLine2</small>
                
                     <small class="text-danger" *ngIf="f['addressLine2'].errors?.serverError">{{
                        f['addressLine2'].errors.serverError}}</small>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-lg-3">
            <div class="form-group ">
               <label for="inputText" class=" col-sm-12 col-lg-12 col-form-label">
                  Active
               </label>
               <div class=" col-sm-12 col-lg-12">
                  <div class="form-check form-switch p-2">
                     <input type="checkbox" class="form-check-input" formControlName="isActive">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-12">
            <div class="float-end">
               <button type="button" class="btn btn-primary rounded-pill btn-sm btn-padding"
                  (click)="OnSubmit()">Submit</button>
            </div>
         </div>

      </div>
   </form>

</div>