
// .modal-body span {
//     float: right;
//     font-size: 12px;
// }
*:focus {
    outline: none;
}
textarea.form-control {
    min-height: 50px;
}
#form span{
    font-size: 14px;
    font-weight: bold;
}