<div class="main-contianer">
  <div class="display bg-dark-light mb-4">
      <span class="title">
          <a routerLink="/dashboard"><i class="bi bi-arrow-return-left booticon" ngbTooltip="Back to Dashboard"
                  ></i> </a>
      </span>
      <span class="titlemed">Help Desk</span>
      <span class="title">
          <a routerLink="/dashboard"> <i class="bi bi-house-gear booticon " ngbTooltip="Dashboad"
                 ></i>
          </a>
      </span>
  </div>

        
        
        <div class="table-responsive "></div>
        <table class="table table-report table-hover dataTable no-footer " datatable [dtOptions]="dtOptions"
          *ngIf="tableflag">
            <thead class="bg-secondary text-white">
              <tr>
                <th scope="col">Sr.</th>
                <th scope="col">Module</th>
                <th scope="col">Help Topic</th>
                <th scope="col">Download Link</th>

              </tr>
            </thead>
            <tbody >
              <tr class="zoom-in" *ngFor="let item of fackData; let i=index">
                <td >{{i+1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.username}}</td>
                <td>{{item.email}}</td>

              </tr>
       
            </tbody>
          </table>
</div>